body {
  background-color: black;
  font-family: "roboto medium";
  color: white;
}

.pfp {
  border-radius: 20px;
  height: 120px;
  width: 120px;
}

.name {
  font-size: 120px;
  color: white;
  font-family: "roboto medium";
  font-weight: 500;
  margin-top: -135px;
  margin-left: 140px;
}

.odometer {
  font-size: 250px;
  position: absolute;
  margin-top: -95px;
  margin-left: -12px;
}